home/conf/zsh/.zhistory
home/conf/chromium
home/conf/QtProject.conf
home/conf/dconf/user
home/conf/ibus/
home/conf/mpd/mpd.log
home/conf/mpd/db
home/conf/zsh/.zcompdump
home/conf/discord
home/conf/transmission
home/conf/beets/library.db
home/conf/beets/state.pickle
home/conf/anime-downloader/
home/conf/Electron
home/conf/Element
home/conf/kritadisplayrc
home/conf/libfm
home/conf/menus
home/conf/mpd.id
home/conf/obs-studio
home/conf/pulse
home/conf/REAPER
home/conf/supertuxkart
home/conf/systemd
home/conf/vitetris
home/conf/nvim/plugged
